@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');



*{
    font-family: Rubik;
}

.bodyIndex{
 background-image: url(img/Fondolog.jpg);
  background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 0px;  
}

#Logo
{
  width: 100%;
  height: 10%;
  margin-bottom: 3%;
}
 
 .MenuPrincipal
 {
     width: 40%;
     background-color: rgba(196, 196, 196, 0.308);
     padding: 1%;
     border-radius: 3%;
     margin: 40px 36% 10px 36%;
     padding-top: 3%;
     padding-bottom: 1%;
 }

.btn-danger{
  margin-top: 5%;
}

.mb-3{
    padding:3%;
    color: white;
}

  .headermenu {
    background: rgba(0,0,0,0.9);
    width: 100%;
    position: fixed;
    z-index: 10;
  }


  /*MENU.HTML*/

  :root{
    --blanco: #E0E0E0;
    --azulopac: #184463;
    --menu: #003053;
    --bg-body: #c7e1ff;

}

  .menu{
    padding: 0;
    margin: 0;
    position: fixed;
  }

  .bodymenu{
    font-family: rubik, sans-serif;
    color: var(--blanco);
  }

  .menu-dashboard{
    max-width: 90px;
    height: 100vh;
    background-color: var(--menu) ;
    padding: 25px;
    transition: max-width .3s ease;
    margin-top: 0px;
  }

  /*PARTE SUPERIOR DEL MENU*/

  .top-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .top-menu .logo{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
  }

  .top-menu .logo span{
    font-size: 20px;
    margin-left: 10px;
    display: none;
  }

  .top-menu .toggle{
    width: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;  
  }

  .top-menu .toggle i{
    font-size: 35px;
  }

  /*DIV's DEL MENU*/

.elementmenu .enlace {
    width: 130%;
    padding: 30px 0px 30px 17px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor:pointer;
    font-size: 20px;
    transition: all .3s ease;
    align-items: center;
}

.elementmenu .enlace:hover{
    background: var(--azulopac);
}

.elemntmenu .enlace i{
    margin-right: 20px;
    font-size: 25px;
}

.elementmenu .enlace span{
    opacity: 0;
    transition: opacity .3s ease;
}

.menu-dashboard.open{
    max-width: 300px;
    z-index: 2;
}

.menu-dashboard.open .top-menu.logo span{
    display: block;
}

.menu-dashboard.open .elementmenu .enlace{
    width: auto;
    padding: 35px 0px;
}


.menu-dashboard.open .elementmenu .enlace span{
    opacity: 1;
}

/*NAVBAR*/

.bg-body-tertiary{
  display: flex;
  position: fixed;
  right: 0;
  width: 78%;

}

.btn-outline-success{ 
  background-color: white;
  color: var(--azulopac);
  border-color: var(--azulopac) ;
}

.btn-outline-success:hover{
  background-color: var(--azulopac);
  border-color: var(--azulopac);
}

section{
  display: none;
}

section:target{
  display: block;
}

#client{  
 position: fixed;
 left: 23%;
 top: 10%;
 color: #000000;
 z-index: 1;

}

.enlace span{
   text-decoration:double;
   color: var(--bg-body);
}

#cuentcorr{  
  position: fixed;
  left: 23%;
  top: 10%;
  color: #000000;
  z-index: 1;

 }

 #prod{  
  position: fixed;
  left: 23%;
  top: 10%;
  color: #000000;
 }

 #configcuenta{  
  position: fixed;
  left: 23%;
  top: 10%;
  color: #000000;
 }

 .modal-content{
  color:#003053;
 }

 .btn-navbar{
  margin: 0px 10px 0px 10px;
  background-color:#184463;
  color: white;
 }

 #opcion5{
  width: 100px;
 }

 /*TABLA CUENTA CORRIENTES*/
 .tablita
{
  border: solid 2px black;
  border-collapse: collapse;
  width: 95%;
  background-color: #003053;
  color: aliceblue;
  table-layout: fixed;
}

.tablita tbody tr:nth-of-type(odd) {
  background-color:#184463;
}

.Columnas
{
  border: solid 2px black;
  width: 16%;
  text-align: center;
}

.btn-outline-primary{
  position: fixed;
  bottom: 8%;
}

/*FORMULARIO CONFIGURACION*/
.mb-3config{
  position: fixed;
  left: 37%;
}

.label2{
  margin-bottom: 10px;
  border-radius: 2px;
  background-color: #003053;
  color: white;
  position:relative;
  text-align: center;
  width: 400px;
  padding: 5%;
}

.btn-success{
  margin-top: 15%;
  width:400px ;
}

.inputConfig{
  margin-top: 10px;
  margin-bottom: 10px;
  position:absolute;
  right: 3%;
  text-align: center;
}

.labelConfig{
  margin-top: 10px;
  margin-bottom: 10px;
}

#modal2{
  position: absolute;
  top: 1%;
}
 
.btn-outline-secondary{
  margin-left: 42.5% ;
  padding: 5px 20px;
  font-size: 25px;
  border: 0px;
}

.modif{
  width: 400px;
  height: 60%;
  margin-left: 40%;
}
