body{
 background-image: url(img/Fondolog.jpg);
background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 0px;  
}

.MenuPrincipal
{
    background-color: grey;
    padding: 2%;
    margin:11% 25%;
    border-radius: 22% 0px;
}

.btn-primary{
    margin-left: 42%;
}