body{
    background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	padding-left: 0px;
    
}

.MenuPrincipal
{
    background-color: grey;
    padding: 2%;
    margin: 11%;
}